<!-- Showing physician Image -->
<div class="row">
  <div class="col-md-4">
    <%= image_tag @physician.physician_img.url(:physician_show), class: "physician-show" %>
  </div>
  <!-- SHowing Physician Info  -->
  <div class="col-md-8">
    <div class="physician-info">

      <h2 class="physician-full-name"><%= @physician.first_name %>
        <%= @physician.last_name %></h2>
      <h4 class="physician-specialty"><span>Specialty:</span> <%= @physician.category.name %></h4>
      <h4 class="avg-rating">Average Rating</h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews">Based on <%= @physician.reviews.count %> reviews</span>
      <p class="physician-bio"><%= @physician.bio %></p>

    </div>
  </div>
</div>
<!-- SHowing Add Review button And Reviews  -->

<div class="row">
  <div class="col-md-4">
    <div class="reviews">

      <h1>Reviews</h1>
      <%= render @physician.reviews %>
      <!--where the review/rating  -->
      <div>
        <%= link_to "Add Review", new_physician_review_path(@physician), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>
<!-- SHowing back button and conditional for only the user that created Physician to Edit and Delete  -->
<div class="links btn-group">
  <%= link_to "Go Back", root_path, class: "btn btn-custom"  %>

  <% if user_signed_in? %>

    <% if @physician.user_id == current_user.id %>

      <%= link_to "Edit", edit_physician_path(@physician), class: "btn btn-custom" %>
      <%= link_to "Delete", physician_path(@physician), method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
