<div class="col-md-10 col-md-offset-1">

  <div class="edit-attorney-form">

    <h1>Edit Page</h1>

    <%= simple_form_for @attorney, :html => {:multipart => true}  do |f| %>
      <%= f.select :category_id, @categories %>
      <%= f.file_field :attorney_img %>
      <%= f.input :first_name, label: "First Name" %>
      <%= f.input :last_name, label: "Last Name" %>
      <%= f.input :bio, lable: "Bio" %>
      <%= f.button :submit, :class => 'btn-custom2' %>
    <% end %>
  </div>
</div>
