<!-- Showing attorney Image -->
<div class="row">
  <div class="col-md-4">
    <%= image_tag @attorney.attorney_img.url(:attorney_show), class: "attorney-show" %>
  </div>
  <!-- SHowing attorney Info  -->
  <div class="col-md-8">
    <div class="attorney-info">

      <h2 class="attorney-full-name"><%= @attorney.first_name %>
        <%= @attorney.last_name %></h2>
      <h4 class="attorney-specialty"><span>Specialty:</span> <%= @attorney.category.name %></h4>
      <h4 class="avg-rating">Average Rating</h4>
      <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span class="number-of-reviews">Based on <%= @attorney.reviews.count %> reviews</span>
      <p class="attorney-bio"><%= @attorney.bio %></p>

    </div>
  </div>
</div>
<!-- SHowing Add Review button And Reviews  -->

<div class="row">
  <div class="col-md-4">
    <div class="reviews">

      <h1>Reviews</h1>
      <%= render @attorney.reviews %>
      <!--where the review/rating  -->
      <div>
        <%= link_to "Add Review", new_attorney_review_path(@attorney), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>
<!-- SHowing back button and conditional for only the user that created attorney to Edit and Delete  -->
<div class="links btn-group">
  <%= link_to "Go Back", root_path, class: "btn btn-custom"  %>

  <% if user_signed_in? %>

    <% if @attorney.user_id == current_user.id %>

      <%= link_to "Edit", edit_attorney_path(@attorney), class: "btn btn-custom" %>
      <%= link_to "Delete", attorney_path(@attorney), method: :delete, data: { confirm: "Are You Sure?"}, class: "btn btn-custom" %>
    <% end %>
  <% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>
